.react-resizable {
    position: relative;
    background-clip: padding-box;
}

.react-resizable-left-right-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
    background: red;
}

.react-resizable-top-bottom-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 10px;
    background: red;
    cursor: ns-resize;
}
